glove.6B.50d.txt
fasttext.wiki.300d.vec
ufvytar.100d.txt
unk-ufvytar.vec
unk-odiya.vec
datasets/custom_dataset/4dim.train.dev_labels.txt
datasets/custom_dataset/4dim.train.dev.txt
datasets/custom_dataset/4dim.train.test_labels.txt
datasets/custom_dataset/4dim.train.test.txt
datasets/custom_dataset/4dim.train.train.txt
datasets/custom_dataset/odia.train.dev_labels.txt
datasets/custom_dataset/odia.train.dev.txt
datasets/custom_dataset/odia.train.test_labels.txt
datasets/custom_dataset/odia.train.test.txt
datasets/custom_dataset/odia.train.train.txt
datasets/custom_dataset/products.train.dev_labels.txt
datasets/custom_dataset/products.train.dev.txt
datasets/custom_dataset/products.train.test_labels.txt
datasets/custom_dataset/products.train.test.txt
datasets/custom_dataset/products.train.train.txt
datasets/custom_dataset/questions.train.dev_labels.txt
datasets/custom_dataset/questions.train.dev.txt
datasets/custom_dataset/questions.train.test_labels.txt
datasets/custom_dataset/questions.train.test.txt
datasets/custom_dataset/questions.train.train.txt
unk-eng.vec
**/__pycache__/**
source.ipynb
*.model
