glove.6B.50d.txt
fasttext.wiki.300d.vec
ufvytar.100d.txt
unk-ufvytar.vec
unk-odiya.vec
unk-eng.vec
**/__pycache__/**
source.ipynb
*.model
wandb/**
__MACOSX/**
.vscode/**
**/*.zip
logs/**
tmp/*.predictions
tmp/*.results